<%= form_with(model: @user, method: :PUT, url: researcher_user_path, class: 'ui form', local: true) do |f| %>
    <%= f.hidden_field :id %>

    <div class="field">
        <%= f.label(:name, '* Nome de usuário:') %>
        <%= f.text_field(:name, placeholder: '* Nome de usuário:') %>
    </div>

    <div class="field">
        <%= f.label(:type_acronym_id, '* Tipo de usuário:') %>

        <select class="ui dropdown" name="user[type_acronym_id]" id="user_type_acronym_id">
            <% Acronym.where(data_refer: 'users.type').each do |a| %>
              <option value="<%= a.id %>" <%= 'selected' if a.id == @user.type_acronym_id %>><%= a.name %></option>
            <% end %>
        </select>
    </div>

    <div class="field">
        <%= f.label(:entity_name, 'Nome da Pessoa:') %>
        <%= f.text_field(:entity_name, placeholder: 'Nome da Pessoa:') %>
    </div>

    <div class="field">
        <%= f.label(:password, 'Senha:') %>
        <%= f.text_field(:password, placeholder: 'Senha:') %>
    </div>

    <br/>
    <div class="ui divider fitted"></div>
    <br/>

    <h3 class="ui header">
        <b>Contatos</b>
    </h3>

    <div class="ui divider fitted"></div>
    <br/>

    <div id="contacts">
        <%= f.fields_for :contacts do |c| %>
          <%= render 'contact_fields', f: c %>
        <% end %>

        <div class="links" style="margin-top: 20px; margin-left: 17px;">
            <%= link_to_add_association '<i class="icon add"></i>'.html_safe, f, :contacts, class: 'ui button icon blue' %>
          </div>
      </div>

      <br/>
      <br/>

      <button class="ui huge button ws-center blue">
          Editar
      </button>
    <% end %>