<div class="ui inverted segment attached">
    <div class="ui main container">
        <div class="ui inverted secondary menu huge">
            <a class="item disabled">
                WhatsApp Simulator

                <span class="ui disabled black label">
                    Pesquisador  
                </span>
            </a>

            <a href="<%= researcher_dashboard_index_path %>" class="item">
                <i class="icon th large"></i>
                Dashboard
            </a>

            <a href="<%= researcher_users_path %>" class="item">
                <i class="icon users"></i>
                Usuários & Voluntários
            </a>

            <a href="<%= researcher_interactions_path %>" class="item">
                <span class="material-icons" style="font-size: 25px; margin-right: 5px;">library_books</span>
                Bots
            </a>

            <a href="<%= researcher_messages_path %>" class="item">
                <i class="icon mail"></i>
                Mensagens
            </a>

            <a href="<%= researcher_logout_path %>" class="item">
                <i class="icon logout"></i>
                Sair
            </a>
        </div>
    </div>
</div>