<div class="ui inverted segment attached">
    <div class="ui main container">
        <div class="ui inverted secondary menu huge">
            <a class="item disabled">
<<<<<<< HEAD
                WhatsApp Simulator

                <span class="ui disabled black label">
                    Pesquisador  
                </span>
=======
                Rechat
>>>>>>> 7bd24b15adbc07b3204254e7e73712369fde6a66
            </a>

            <a href="<%= researcher_dashboard_index_path %>" class="item">
                <i class="icon th large"></i>
                Dashboard
            </a>

            <a href="<%= researcher_users_path %>" class="item">
                <i class="icon users"></i>
                Usuários & Voluntários
            </a>

            <a href="<%= researcher_interactions_path %>" class="item">
                <span class="material-icons" style="font-size: 25px; margin-right: 5px;">library_books</span>
<<<<<<< HEAD
                Bots
=======
                Chatbots
>>>>>>> 7bd24b15adbc07b3204254e7e73712369fde6a66
            </a>

            <a href="<%= researcher_messages_path %>" class="item">
                <i class="icon mail"></i>
                Mensagens
            </a>

<<<<<<< HEAD
=======
            <a href="<%= researcher_textuals_path %>" class="item">
                <span class="material-icons" style="font-size: 25px; margin-right: 5px;">developer_board</span>
                Processamento Textual
            </a>

>>>>>>> 7bd24b15adbc07b3204254e7e73712369fde6a66
            <a href="<%= researcher_logout_path %>" class="item">
                <i class="icon logout"></i>
                Sair
            </a>
        </div>
    </div>
</div>