<div class="nested-fields">

    <div class="two fields">
        <div class="two fields" style="padding-right: 5px;">
            <div class="field" style="padding-top: 23px;">
                <%= link_to_remove_association f, class: 'ui button ws-center' do %>
                    Remover
                  <% end %>
              </div>

              <div class="field" ng-init="type_acronym_id = '1'">
                  <%= f.label :type_acronym_id, 'Tipo da mensagem:' %>

                  <%= f.select(
                    :type_acronym_id,
                    options_for_select(
                      Acronym.select(:id, :name).where('id = 1 OR id = 2 OR id = 5').map { |a| [a.name, a.id] },
                      f.object.type_acronym_id
                      ),
                  {},
                    'ng-model': "type_acronym_id",
                    )
                %>

                  <%= f.error_message_for :type_acronym_id %>
              </div>
          </div>

          <div class="two fields" ng-if="type_acronym_id != 5" style="padding-left: 5px;">
              <div class="field" ng-init="type_content_acronym_id = '50'">
                  <%= f.label :type_content_acronym_id, 'Tipo da mensagem:' %>

                  <%=
                  f.select(
                    :type_content_acronym_id,
                    Acronym.select(:id, :name).where("data_refer = 'messages.type_content'").map { |a| [a.name, a.id] },
                  {},
                    'ng-model': "type_content_acronym_id",
                    )
                %>

                  <%= f.error_message_for :type_content_acronym_id %>
              </div>

              <div class="field" ng-if="type_content_acronym_id == 50">
                  <%= f.label :content, 'Conteúdo:' %>
                  <%= f.text_area :content, rows: 6 %>
              </div>

              <div class="field" ng-if="type_content_acronym_id == 51">
                  <%= f.label :content, 'URL Pública do Arquivo:' %>
                  <%= f.text_field :content %>
              </div>
          </div>
      </div>
  </div>