<br/>

<h1 class="ui header">
<%#*<i class="home icon"></i>%>

    <span class="material-icons" style="font-size: 50px;">library_books</span>

    <div class="content" style="position: relative; bottom: -5px">
        Boots
    </div>
</h1>



<div class="ui fitted divider"></div>

<table class="ui table selectable very basic large unstackable" style="white-space: nowrap !important;">
    <thead>
        <tr>
            <th>Título</th>
            <th>Tipo</th>
            <th>Programação</th>
            <th>Horário</th>
            <th>Tot. Mensagens</th>
            <th>Tot. de Visualizações</th>
            <th>Tempo tot. de Foco</th>
            <th class="collapsing">
                <div class="ui button icon" modal="modal_entities_search">
                    <i class="icon search"></i>
                </div>

                <%= link_to new_researcher_interaction_path, class: 'ui icon blue button' do %>
                    <i class="add icon"></i>
                  <% end %>
              </th>
          </tr>
      </thead>
      <tbody>
          <% @interactions.each do |i| %>
            <tr>
                <td>
                    <b>
                      <%= i.name %>
                    </b>
                </td>

                <td style="color: grey; font-size: 90%;">
                    <%= Acronym.select(:name).find(i.type_acronym_id).name %>
                </td>

                <td>
                    <%= Acronym.select(:name).find(i.schedule_acronym_id).name %>
                </td>

                <td>
                    <i class="icon calendar alternate grey"></i>
                    <%= i.number_schedule %> horas
                </td>

                <td style="color: grey; font-size: 90%;">
                    <%= i.messages.count %>
                </td>

                
                <td>
                    <i class="icon eye grey"></i>
                   124
                </td>
                
                <td>
                    <i class="icon time outline grey"></i>
                   35m
                </td>

                <td>
                    <div class="ui dropdown ws-center ">
                        <i class="icon ellipsis vertical grey" style="font-size: 20px;"></i>
                        <div class="menu">
                            <%= link_to '<i class="icon edit"></i> Editar'.html_safe, edit_researcher_interaction_path(i),
                              class: 'item'
                            %>

                            <%= link_to '<i class="icon delete"></i> Deletar'.html_safe, researcher_interaction_path(i),
                              method: :delete,
                              class: 'item',
                              data: { confirm: 'Tem certeza?' }
                            %>
                        </div>
                    </div>
                </td>
            </tr>
          <% end %>
      </tbody>
  </table>