interactions new

<br/><br/>

<%= form_with model: @interaction, url: new_researcher_interaction_path, local: true do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <br/>
  <%= f.label :type_acronym_id %>
  <%= f.text_field :type_acronym_id %>

  <br/>
  <%= f.label :schedule %>
  <%= f.text_field :schedule, value: 'Diário' %>

  <br/>
  <%= f.label :number_schedule %>
  <%= f.text_field :number_schedule, value: '13' %>
  
  <br/><br/>

  <div id="messages">
      <%= f.fields_for :messages do |message| %>
        <%= render 'message_fields', f: message %>
      <% end %>

      <div class="links">
          <%= link_to_add_association 'Adicionar Mensagem'.html_safe, f, :messages %>
      </div>
  </div>

  <br/>
  
  <a href="<%= guest_sign_in_path %>">
      Salvar
  </a>

<% end %>