<br/>

<h1 class="ui header">
    <i class="mail icon"></i>

    <div class="content" style="position: relative; bottom: -5px">
        Mensagens
    </div>
</h1>

<div class="ui fitted divider"></div>

<br/>

<div style="overflow: auto !important; max-width: 100%;">
    <table class="ui table selectable very basic small unstackable" style="white-space: nowrap !important;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Conteúdo</th>
                <th>Usuário Orig.</th>
                <th>Usuário Dest.</th>
                <th>Bot/Sequência</th>
                <th>Tipo</th>
                <th>Favoritada</th>
                <th>Visualizado</th>
                <th>Visualizações</th>
                <th>Tempo tot. <br/> de Foco</th>
                <th>Polaridade <br/> Emocional</th>
                <th>Compartilhamentos</th>

                <th class="collapsing">
                    <div class="ui button icon" modal="modal_entities_search">
                        <i class="icon search"></i>
                    </div>
                </th>
            </tr>
        </thead>

        <tbody>
            <% Message.order('id, interaction_ids').all.each do |m| %>
              <tr>
                  <td style="font-size: 90%;">
                      <b><%= m.id %></b>
                  </td>

                  <td style="font-size: 90%; color: grey;">
                      <%= m.created_at %>
                  </td>

                  <td style="max-width: 200px !important;">
                      <div class="text-overflow">
                          <b>
                              <%= Acronym.select(:name).find(m.type_content_acronym_id).name %>:
                          </b>

                          <%= m.content %>                   
                      </div>
                  </td>

                  <td>
                      <% if m.destiny_user_id %>
                        <% if m.origin_user_id == 0 %>
                          Pesquisador
                        <% else %>
                          <%= User.find(m.origin_user_id).name %>
                        <% end %>
                      <% else %>
                        <div style="color: grey; font-size: 90%;">
                            Msg. de Bot
                        </div>
                      <% end %>
                  </td>

                  <td>
                      <% if m.destiny_user_id %>
                        <% if m.destiny_user_id == 0 %>
                          Pesquisador
                        <% else %>
                          <%= User.find(m.destiny_user_id).name %>
                        <% end %>
                      <% else %>
                        <div style="color: grey; font-size: 90%;">
                            Msg. de Bot
                        </div>
                      <% end %>
                  </td>

                  <td>
                      <% if m.interaction_id %>
                        <%= m.interaction.name %> 
                        <% if  m.interaction_ids %>
                          / <%= m.interaction_ids %>
                        <% end %>
                      <% else %>
                        <div style="color: grey; font-size: 90%;">
                            Msg. da Conversa
                        </div>
                      <% end %>
                  </td>

                  <td>
                      <%= Acronym.select(:name).find(m.type_acronym_id).name if m.type_acronym_id %>
                  </td>

                  <td>
                      <% if m.favorited %>
                        <i class="star yellow icon"></i>
                      <% else %>
                        <div style="color: grey; font-size: 90%;">
                            Não
                        </div>
                      <% end %>
                  </td>

                  <td>
                      <% if m.count_views > 0 %>
                        <i class="green check icon"></i>
                      <% else %>
                        <div style="color: grey; font-size: 90%;">
                            Não
                        </div>
                      <% end %>
                  </td>

                  <td>
                      <%= m.count_views %>
                  </td>

                  <td>
                      <% if m.time_focus > 0 %>
                        <div style="color: #1b68a3;">
                            <%= '%.2f' % m.time_focus %>ms
                        </div>
                      <% else %>
                        <div style="font-size: 90%; color: grey;">
                            0.00ms
                        </div>
                      <% end %>
                  </td>

                  <td>
                      <% if m.sentimental_score == nil || m.sentimental_score == 0 %>
                        <div style="color: grey">
                            0
                        </div>
                      <% elsif m.sentimental_score < 0 %>
                        <div style="color: red; font-weight: bold;">
                            <%= '%.2f' % m.sentimental_score %>
                        </div>
                      <% else %>
                        <div style="color: green; font-weight: bold;">
                            <%= '%.2f' % m.sentimental_score %>
                        </div>
                      <% end %>
                  </td>

                  <td>
                      <%= MessageShare.where(propagation_message_id: m.id).count %>
                  </td>

                  <td>
                      <div class="ui dropdown ws-center ">
                          <i class="icon ellipsis vertical grey" style="font-size: 20px;"></i>
                          <div class="menu">
                              <%= link_to '<i class="icon edit"></i> Editar'.html_safe, edit_researcher_interaction_path(m),
                                class: 'item'
                              %>

                                <%= link_to '<i class="icon delete"></i> Deletar'.html_safe, researcher_interaction_path(m),
                                  method: :delete,
                                  class: 'item',
                                    data: { confirm: 'Tem certeza?' }
                                %>
                              </div>
                          </div>
                      </td>
                  </tr>
                <% end %>
            </tbody>
        </table>
    </div>