<!DOCTYPE html>
<html>
    <head>
        <title>WhatsApp Simulator</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>


        <%= stylesheet_link_tag 'application', media: 'all' %>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <%= javascript_include_tag 'application' %>
    </head>

    <body>
        <% if session[:user] %>
          <%= render "layouts/menus/#{session[:user]['type_acronym_id']}" %>
          <style>
              html, body {
                  background: #f4f4f4;
              }
          </style>
        <% end %>

        <div class="ui main container">
            <%= yield %>
        </div>

        <div class="ws-loading-global ui active dimmer active">
            <div class="ui loader"></div>
        </div>

        <br/>
        <br/>

<%#*<input type="button" value="Say hello" onClick="showAndroidToast('Hello Android!')" />%>

        <script type="text/javascript">
          function showAndroidToast(toast) {
              Android.showToast(toast);
          }
        </script>


        <br/><br/><br/>
    </body>
</html>
