<!DOCTYPE html>
<html>
    <head>
        <title>MyChat</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
    </head>

    <body>

        <% if session[:user] %>
          <% if session[:user]['type_acronym_id'] == 200 %>
            <div>
                Menu Researcher: <br/>

                <a href="<%= researcher_dashboard_index_path %>">
                    Dashboard
                </a>

                <a href="<%= researcher_interactions_path %>">
                    Interações
                </a>

                <a href="<%= researcher_logout_path %>">
                    Sair
                </a>
            </div>
          <% end %>

          <% if session[:user]['type_acronym_id'] == 201 %>
            <div>
                Menu Researcher: <br/>

                <a href="<%= researcher_dashboard_index_path %>">
                    Dashboard
                </a>

                <a href="<%= researcher_logout_path %>">
                    Sair
                </a>
            </div>
          <% end %>
        <% end %>

        <%= yield %>

    </body>
</html>
