<!DOCTYPE html>
<html>
    <head>
        <title>ReChat</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all' %>

        <%= javascript_include_tag 'application' %>

        <style>
            html, body {
                background: #f4f4f4 !important;
            }
        </style>
    </head>

    <body ng-app="ChatResearcher">

        <%= render "layouts/menus/researcher" %>

        <div id="main-container" class="ui main container">
            <%= yield %>
        </div>

        <%= render 'layouts/alerts/alerts' %>
        <%= render 'layouts/partials/loading' %>

        <br/><br/>
        <br/><br/>
        <br/>

    </body>
</html>
