<!DOCTYPE html>
<html>
    <head>
        <title>ReChat</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all' %>

        <%= javascript_include_tag 'application' %>

        <style>
            *:not(.icon):not(.material-icons) {
                font-family: 'Roboto', sans-serif !important;
            }
        </style>
    </head>

    <body>
        <%= render "layouts/menus/voluntary" %>

        <%= yield %>

        <%= render 'layouts/alerts/alerts' %>
        <%= render 'layouts/partials/loading' %>

    </body>
</html>
